# Environment files
.env

# Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Virtual environments
venv/
.env/
.venv/
env/
# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml